body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #56e2b8;
  color: #222;
}
h1 {
  color: #0073bb;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #0073bb;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}
button:hover {
  background-color: #005f8a;
}
